@keyframes pura-rotate-scale {
  0% {
    opacity: var(--pura-opacity-from, 0);
    transform: scale(2) rotateZ(calc(var(--pura-rotate-from, 1turn) * -1));
  }

  100% {
    opacity: var(--pura-opacity-to, 1);
    transform: none;
  }
}

[data-pura='rotate-scale'] {
  animation-name: pura-rotate-scale;
  animation-timing-function: var(--pura-timing-function, env(--decelerate-curve));
  animation-direction: alternate;
  animation-iteration-count: var(--pura-iteration-count, 1);
}
