@keyframes pura-shake {
  0%,
  100% {
    transform: translate3d(0, 0, 0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translate3d(calc(var(--pura-animation-offset, 10px) * -1), 0, 0);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translate3d(var(--pura-animation-offset, 10px), 0, 0);
  }
}

[data-pura='shake'] {
  animation-name: pura-shake;
  animation-timing-function: var(--pura-timing-function, $standard-curve);
  animation-direction: alternate;
}
