@keyframes pura-shake {
  from,
  to {
    transform: translate3d(0, 0, 0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translate3d(-10px, 0, 0);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translate3d(10px, 0, 0);
  }
}

[data-pura='shake'] {
  animation-play-state: var(--pura-play-state, unset);
  animation-name: pura-shake;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
  animation-iteration-count: 1;
}
