[data-pura] {
  animation-play-state: var(--pura-play-state, unset);
  animation-duration: var(--pura-animation-duration, 1s);
  animation-iteration-count: var(--pura-iteration-count, 1);
}

@media (prefers-reduced-motion) {
  [data-pura] {
    animation: unset !important;
    transition: none !important;
  }
}
