/* This file contains all the default
 * static values used by animations and basic style */

/* Easings curves */
$standard-curve: cubic-bezier(0.4, 0, 0.2, 1);
$accelerate-curve: cubic-bezier(0.4, 0, 1, 1);
$decelerate-curve: cubic-bezier(0, 0, 0.2, 1);
